<div id="<%= dom_id saving %>">
  <p>
    <strong>Label:</strong>
    <%= saving.label %>
  </p>

  <p>
    <strong>Money:</strong>
    <%= saving.money %>
  </p>

  <p>
    <strong>User:</strong>
    <%= saving.user_id %>
  </p>

</div>
