<div class='w-11/12 m-auto'>
  <div class='shadow-xl rounded-lg overflow-hidden mb-6'>
    <h2 class='py-3 px-5 text-gray-700 bg-gray-100'><%= t('savings.create') %></h2>
    <div class='p-5'>
      <%= render 'form', saving: @saving %>
    </div>
  </div>
  <div>
    <%= link_to '< page back', user_path(current_user.id), class: 'text-gray-700' %>
  </div>
</div>
